
@font-face {
    font-family: 'Minecraft Custom';
    src: url('MinecraftFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft Custom';
    src: url('MinecraftFont-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.bit-font {
    font-family: 'Minecraft Custom', sans-serif;


}

.item-lore {
    font-family: 'Minecraft Custom', sans-serif;
}